<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>El búho dinámico</title>
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/buho_dinamico.css">
	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Delius+Unicase' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="./js/buho_dinamico.js"></script>
</head>

<body>
	<div class="main_container">
		<header>
			<div class="c1">
			  <img src="./img/logo_200.png" title="Animación El búho dinámico">
			</div>
			<div class="c2">
				<h2>Animación</h2>
			  <h1>El búho dinámico</h1>
		    <nav>
		      <a href="/">	
		    	  <div class="button button_1">
		    	  	<h4>Inicio</h4>
		    	  </div>
		    	</a>
		    	<a href="/que_hacemos"> 
		    	  <div class="button button_2">
		    	  	<h4>¿Qué hacemos?</h4>
		    	  </div>
		    	</a>
		    	<a href="/quienes_somos">
		    	  <div class="button button_3">
		    	  	<h4>¿Quiénes somos?</h4>
		    	  </div>
		    	</a>
		    	<a href="/contacto">
		    	  <div class="button button_4">
		    	  	<h4>Contacto</h4>
		    	  </div>
		    	</a>
		    	<div class="anti_float"></div>
		    </nav>
		  </div>
		  <div class="anti_float"></div>  
		</header>
		<div class="page_title">
			<h3>Contacta con nosotros</h3>
		</div>
		<div class="page_body">
		  <div class="page_content">
		  	<form action="post" namse="contact_form" class="contact_form">
		  		<p>Envíanos tu mensaje</p>
					<p>
		  		  <label for="us_name">Tu nombre</label><br>
					  <input type="text" name="us_name" class="us_name" placeholder="Nombre">
					</p>
		  		<p>
		  		  <label for="email">Tu e-mail</label><br>
		  		  <input type="text" name="email" class="email" placeholder="ejemplo@ejemplo.com">
		  		</p>
					<p>
		  		  <label for="message">Mensaje</label><br>
					  <textarea name="message" class="message" placeholder="Escribe tu mensaje aquí"></textarea>
					</p>
					<p>
						<input type="submit" class="send" value="Enviar mensaje">
					</p>
		  	</form>
		  	<div class="anti_float"></div>
		  </div>	
		</div>
		<footer>
			<p>Para una buena animación, no lo dudes, pon un búho en tu celebración.</p>
		</footer>
	</div>
</body>
</html>