<% @page_name = "Contacta con nosotros" %>

<form action="contact_form" method="POST" class="contact_form">
	<p>Envíanos tu mensaje</p>
	<p>
		<label for="us_name">Tu nombre</label><br>
	  <input type="text" name="us_name" class="us_name" placeholder="Nombre">
	</p>
	<p>
		<label for="email">Tu e-mail</label><br>
		<input type="text" name="email" class="email" placeholder="ejemplo@ejemplo.com">
	</p>
	<p>
		<label for="message">Mensaje</label><br>
	  <textarea name="message" class="message" placeholder="Escribe tu mensaje aquí"></textarea>
	</p>
	<p>
		<input type="submit" class="send" value="Enviar mensaje">
	</p>
</form>
