<% @page_name = "Bienvenid@ a nuestra web" %>

<div class="c1 cell">
	<img src="./img/tarta.png">
	<div class="text">
	  <p class="p1">Somos un grupo de <strong>animadores</strong> de fiestas infantiles:</p>
    <ul>
  	  <li>cumpleaños,</li>
  	  <li>comuniones,</li>
  	  <li>y cualquier celebración donde los peques quieran divertirse jugando.</li>
    </ul>
  </div>
  <div class="anti_float"></div>
</div>

<div class="c2 cell">
	<img src="./img/madrid_silueta.png">
	<div class="text">
    <p class="p21">Si estás pensando en organizar una fiesta infantil en algún lugar de la <strong>Comunidad de Madrid</strong>, en El Búho Dinámico tienes la solución para darle un toque de animación y diversión.</p>
    <p class="p22">Madrid, Ĺeganés, Fuenlabrada, Pinto, Barajas, Las Rozas, Alcalá de Henares, San Sebastián de los Reyes...</p>
  </div>
  <div class="anti_float"></div>
</div>

<div class="c3 cell">
	<img src="./img/ninos_5	.png">
	<div class="text">
	  <p class="p3">La fiesta estará asegurada con múltiples actividades:</p>
	  <ul>
		  <li><strong>Pintacaras</strong></li>
		  <li><strong>Juegos</strong></li>
		  <li><strong>Bailes</strong></li>
		  <li><strong>Canciones</strong></li>
		  <li><strong>Gymkanas</strong></li>
	  </ul>
	</div>
	<div class="anti_float"></div>
</div>

<div class="anti_float"></div>

