<% @page_name = "Bienvenid@ a nuestra web" %>

<div class="c1 cell">
	<p class="p1">Somos un grupo de animadores de fiestas infantiles:</p>
  <ul>
  	<li>cumpleaños,</li>
  	<li>comuniones,</li>
  	<li>y cualquier celebración donde los peques quieran divertirse jugando.</li>
  </ul>
  <img src="./img/tarta.png">
</div>

<div class="c2 cell">
	<p class="p2">La fiesta estará asegurada con múltiples actividades:</p>
	<ul>
		<li>Pintacaras</li>
		<li>Juegos</li>
		<li>Bailes</li>
		<li>Canciones</li>
		<li>Gymkanas</li>
	</ul>
</div>

<div class="c3 cell">
  <p class="p31"><img src="./img/madrid_silueta.png">Si estás pensando en organizar una fiesta infantil en algún lugar de la Comunidad de Madrid, en El Búho Dinámico tienes la solución para darle un toque de animación y diversión.</p>
  <p class="p32">Madrid, Ĺeganés, Fuenlabrada, Pinto, Barajas, Las Rozas, Alcalá de Henares, San Sebastián de los Reyes...</p>

</div>

<div class="anti_float"></div>

