<% @page_name = "Bienvenid@ a nuestra web" %>

<p class="p1"><img src="./img/tarta.png">Somos un grupo de animadores de fiestas infantiles:</p>
<ul>
	<li>cumpleaños,</li>
	<li>comuniones,</li>
	<li>y cualquier celebración donde los peques quieran divertirse jugando.</li>
</ul>
<p class="p2"><img src="./img/madrid_silueta.png">Si estás pensando en organizar una fiesta infantil en algún lugar de la Comunidad de Madrid, en El Búho Dinámico tienes la solución para darle un toque de animación y diversión.</p>

