<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>El búho dinámico #<%= @page_name %></title>
	<link rel="shortcut icon" href="./img/logo_50.ico">
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/buho_dinamico.css">
	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Delius+Unicase' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="./js/buho_dinamico.js"></script>
</head>

<body>
	<div class="main_container">
		<header>
			<div class="c1">
			  <a href="/"><img src="./img/logo_200.png" title="Animación El búho dinámico"></a>
			</div>
			<div class="c2">
				<h2>Animación</h2>
			  <h1>El búho dinámico</h1>
		    <nav>
		      <a href="/">
		        <div class='button button_1'>
		  	    	<h4>Inicio</h4>
		  	    </div>
		  	  </a>
		  	  <a href="/que_hacemos"> 
		  	    <div class="button button_2">
		  	    	<h4>¿Qué hacemos?</h4>
		  	    </div>
		  	  </a>
		  	  <a href="/quienes_somos">
		  	    <div class="button button_3">
		  	    	<h4>¿Quiénes somos?</h4>
		  	    </div>
		  	  </a>
		  	  <a href="/contacto">
		  	    <div class="button button_4">
		  	    	<h4>Contacto</h4>
		  	    </div>
		  	  </a>
		  	  <div class="anti_float"></div>
		    </nav>
		  </div>
		  <div class="anti_float"></div>  
		</header>
		<section class="subpage_header">
			<h3><%= @page_name %></h3>
			<div class="social">
				<a href="https://www.facebook.com/pages/Animaci%C3%B3nElB%C3%BAho-Din%C3%A1mico/577457979035741?sk=timeline&ref=page_internal">
			    <img src="./img/facebook_red_50.png" title="El Búho Dinámico en Facebook" alt="El Búho Dinámico en Facebook">
			  </a>
        <a href="https://twitter.com/Abuhodinamico">
			    <img src="./img/twitter_red_50.png" title="El Búho Dinámico en Twitter" alt="El Búho Dinámico en Twitter">
			  </a>
			  <a href="mailto:animacionbd@gmail.com">
			    <img src="./img/envelope_red_50.png" title="E-mail de El Búho Dinámico" alt="e-mail de El Búho Dinámico">
			  </a>
			</div>
			<div class="anti_float"></div>
		</section>
		<section class="page_body">
		  <div class="page_content">
		  	<%= yield 	%>
		  </div>	
		</section>
		<footer>
			<p>Para una buena animación, no lo dudes, pon un búho en tu celebración.</p>
		</footer>
	</div>
</body>
</html>