<% @page_name = "¿Qué hacemos?" %>

<div class="text_qh">

	  <p class="p1">Hemos preparado <strong>dos packs</strong> de actividades para tu fiesta.</p>

	  <ul class="inside_pack">
	    <h3>Pack dinámico de INTERIOR:</h3>
	  	<li>
	  		<h4>1) <strong>Pintacaras</strong></h4>
	  	</li>
	  	<li>
	  		<h4>2) <strong>Juegos y Canciones</strong></h4>
	  	</li>
	  	<li>
	  		<h4>3) <strong>Gymkana</strong></h4>
	  	</li>
	  	<li>
	  		<h4>4) <strong>Globoflexia</strong></h4>
	  	</li>
	  	<li>
	  		<p class="time">Duración: 90 minutos</p>
	    </li>
	  </ul>

	  <ul class="outside_pack">
	    <h3>Pack dinámico de EXTERIOR:</h3>
	  	<li>
	  		<h4>1) <strong>Pintacaras</strong></h4>
	  	</li>
	  	<li>
	  		<h4>2) <strong>Juegos y Canciones</strong></h4>
	  	</li>
	  	<li>
	  		<h4>3) <strong>Gymkanas</strong></h4>
	  	</li>
	  	<li>
	  		<h4>4) <strong>Juegos de feria</strong></h4>
	  	</li>
	  	<li>
	  		<p class="time">Duración: 90 minutos</p>
	    </li>
	  </ul>

	  <p class="p2">¡Si quieres <strong>personalizar</strong> tu pack, sólo tienes que consultarlo con nosotros!</p>

    <img src="./img/" alt="">

  <div class="anti_float"></div>
</div>


<div class="anti_float"></div>