<% @page_name = "¿Quienes somos?" %>

<div class="text_qs">

	  <p class="p1">Somos un grupo de jóvenes a los que la paśión por los niños nos llevó a <strong>titularnos</strong> como <strong>Monitores de Ocio y Tiempo Libre</strong> por la Consejería de Educación, Juventud y Deporte de la <strong>Comunidad de Madrid</strong>.</p>

    <p class="p2">Todos, hemos participado en <strong>asociaciones infantiles y juveniles</strong> así como en diversos campamentos.</p>
    
    <p class="p3">Nuestra <strong>juventud</strong> y nuestra <strong>experiencia</strong>, junto con nuestras ganas de pasarlo bien, son los ingredientes que combinamos para que la fiesta sea un auténtico éxito.</p>

    <img src="./img/ninos_4.png" alt="">

  <div class="anti_float"></div>
</div>


<div class="anti_float"></div>